<app-navbar></app-navbar>
<!-- <app-text></app-text> -->

<hr>
<h1>Home</h1>
<!-- <app-image></app-image> -->

<!-- <app-employee [employees]="employeeList"></app-employee> -->
 

<hr>

<!-- <app-forms (notify)="onNotify()"></app-forms> -->

<router-outlet></router-outlet>


<!-- <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam perspiciatis, sed commodi dolor velit iste magni neque eveniet consectetur inventore vero, odit corrupti earum veniam libero alias laborum modi dolorum.</p> -->